:root{
    font-size: 16px;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
  }

/* With media quaries */

.container {
    margin: 0 auto;
    width: 100%;
}

.header-logo{
    display: flex;
}

.header{
    position: sticky; 
    top:0;
    background: #f8fafe; 
    border-bottom: 1px solid #000; 
    margin-bottom: 16px; 
    z-index: 2; 
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* Header */
.top {
    padding: 25px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  
  .top__logo {
    margin-right: 3px;
    width: 43px;
    height: 43px;
    margin-bottom: 5px;
  }
  
  .top__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
  }
  /* /Header */
  

.basket{
    position: relative;
    display: flex;
    width:32px;
    height:32px;
    box-sizing: border-box;
}

.basket_icon{
    width: 50px;
    height: 50px;
 /* right:15px*/
}

.basket_count{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    width:14px;
    height: 12px;
    top:-7px;
    right:-7px;
    background-color: blue;
    color:white;
    border-radius:50%;
    font-size: 10px 32px;
}

.img-rounded{
    border-radius: 50%;
}

.breadcrumb:active{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
}

a{ text-decoration: none; 
}

.breadcrumb{
    color:#008CF0
}

.breadcrumb:hover{
    color: #F36223; 
}

.content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}


.product-sidebar-important{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #EEEEEE;
    padding: 20px;
}

.product_price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.product_price-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.old{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cost1{
    width: 66px;
    height: 16px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration-line: line-through;
    color: #888888;
}

.discount{
    width:47px;
    height:24px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    background: #F36223;
    border-radius: 500px;
}
    
ul.product-info__features{
    padding-left:20px;
}

ul.product-info__features{
    margin-top: 10px;
    margin-bottom: 10px;
}

.link{
    font-family: sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #008CF0;
}

.link:hover{
    color: #DA4A0C;
}

li::marker {
    color: gray;
}

.cost2{
    width: 132px;
    height: 39px;
    font-family: sans-serif;
    line-height: 39px;
    color: #000000;
    /* identical to box height */
}

.cart-button{
    display: flex;
    width: 320px;
    height: 64px;
    border: 0;
    background-color: #F36223;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    justify-content: center;
    align-items: center;
    color:#EEEEEE;
    gap:10px;

}

.cart-button:hover{
    background-color: #DA4A0C;
}


.cart-button.cart-button-added,
.cart-button.cart-button-added:hover{
    background: #888888;
}

.icons {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
  }
  
  .icon {
    position: relative;
  }
  
  .icon__indicator {
    display: none;
    width: 20px;
    height: 20px;
    background: #F36223;
    border-radius: 50px;
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
  }
  
  .icon__indicator.icon__indicator-active {
    display: flex;
  }
  

  
  .buttons {
    padding: 16px;
}
  

  .cart-button_text{
    box-sizing: border-box;
  }


.button-buy{
    padding: 8px 12px;
    cursor: pointer;
}

.product-delivery{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 380px;
    align-self: stretch;
    font-size: 16px;
    line-height: 1px;
}

.product-info__btn{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #FFFFFF;
    border: 1px solid #888888;
}

.product-info-subtitle__btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.product-info__btn.product-info__btn--active{ 
    border: 2px solid #F36223;
}

.product-info__btn:hover{
    background-color: #f2f2f2;
}

.product-info__btn{
    font-family: sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #000000;
}

.product-info__gallery{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.product-info__gallery-item{
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-right: 10px;
}

.product-info__gallery-item:hover{
    background-color: #f2f2f2;
}

.product-info__gallery-item.product-info__gallery-item--active { 
    border: 2px solid #F36223;
}

.publicity{
    font-family:sans-serif;
    font-size: x-small;
    color: darkgrey;
    margin-left: 15px; 
}

.frameblock{
    width: 100%;
    height: 300px;
    border: 1px dashed #888888;
    margin-bottom: 15px;
}

.product-reviews{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.product-review__detail{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:30px;
}

.product-review__detail-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.product-review__detail-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.product-review__detail-information{
    display: flex;
    flex-direction: column;
    
}

.product-review__title-one{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-review__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.product-review-amount{
    left:108px;
    line-height: 29px;
    color: #888888;
    font-weight: 700;
    font-size: 24px;
}

.product-review__detail-photo{
    width: 140px;
    height: 140px;
}

.product-parts{
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.contentarea{
    width: 880px;
}

.contentsidebar{
    width: 420px;
}

.separator{
    border: 1px solid #888888;
    align-self: stretch;
    margin: 20px 30px;
}

.product-info__btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    border: 1px solid #888888;
    border-radius: 4px;
    padding: 10px 20px;
}

.product-info-subsection{
    margin-top:0px;
}

.product-table-subtitle{
    margin-bottom: 15px;
}

.product-table{
    border: 1px solid #888888;
}

.product-table th{
    border-right: 1px solid #888888;
    border-bottom: 1px solid #888888;
}

.product-table td{
    border-right: 1px solid #888888;
}

.product-table td,
.product-table th{
    padding: 10px;
}

.product-table__info{
    padding: 10px 10;
}

.product-table__detail-information:hover{
    background-color: #f2f2f2;
}

.footer{
    background-color: #F2F2F2;
    width:100%;
    padding: 30px 0px;
}

.footer-сontainer{
    display: flex;
    justify-content: space-between;
    
}

.footer-content{
    color:#000000;
}

.contact{
    color:#008CF0;
}

.inscription{
    color: #008CF0;
}

.form{
    width: 80px;
    margin: 0 auto;
    margin-bottom: 100px;
    border-radius: 5px;
    padding-left: 170px;
}
    
.product-form-subtitle{
    font-family: sans-serif;
    font-style: normal;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
 }
    
.form__row{
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
    
.form-footer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 40px;
}
    
.form__column{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 32px;
}

.form-review__error {
    position: absolute;
    left: 0;
    right: 0;
    height: 40px;
    background: #f36223;
    display: none;
    color: white;
    padding: 2px 4px;
  }
  
  .form-review__error-active {
    display: block;
  }

.form textarea{
    resize: none;
    height: 190px;
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
}
    
.form input{
    outline: none;
    width: 100%;
    border: 1px solid #888888;
    box-sizing: border-box;
    padding: 15px 20px;
}

.button-review {
    font-weight: 500;
    font-size: 16px;
    background: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
    width: 177px;
    height: 39px;
    border: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding: 10px 20px;
    align-items: center;
}
.line{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 1px;
    width: 100%;
    border-top: 1px dashed #000;
    }

.button-review:active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 20px;
    background-color:#F36223;
    color:#FFFFFF;
    width: 177px;
    height: 39px;
    border: 0;
    font-weight: 500;
    font-size: 16px;     
    line-height: 19px;
    padding: 10px 20px;
    align-items: center;
}
  
/* With media quaries */
@media (min-width:1024px){
.container {
    width: 1024px;
    padding: 0 15px;
}
.product-info__gallery{
    display: flex;
}
.product-info{
    width: 594px;
}
.product-sidebar{
    width: 360px;
    padding: 0px;
}
.product-sidebar-important{
    width: 100%;
}
.button-buy{
    width: 100%;

}
.button-buy::before {
    content:url("/public/images/Vector.svg");
    display: inline-block;
    width: 19px;
    height: 20px;
    margin-left: -25px;
    position: absolute;
}
.like:active{
    display: flex;
    width:30px;
    height:30px;
}
            
.frameblock{
    width: 100%;
}
.form{
    left: 15px;
    gap: 15px;    
    width: 100%;  
}
.line {
    margin-left: 130px;
}

.frameblock {
    width: 360px;
}

.product-table{
    border-collapse: collapse;
}
.img-rounded {
   width: 100px;
   height: 100px;
}
.form{
    padding: 0px;  
    
}
}

@media(min-width: 1500px) {
.container{
    width: 1500px;
    padding: 0 50px;
}
    
.product-info{
    width: 880px;
}
    
.product-sidebar{
    width: 420px;
}
  
}
/* /With media quaries */