.product-info__gallery-item {
    background-color: #fff;
    border: 1px solid #888;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-right: 16px;
    cursor: pointer;
  }
  
  .product-info__gallery-item img {
    height: 60px;
  }
  
  .product-info__gallery-item:hover {
    background-color: #f2f2f2; 
  }
  
  .product-info__gallery-item.product-info__gallery-item--active {
    border: 1px solid #F36223;
  }
  